<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Retail_Banking</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    
  </welcome-file-list>
  
  <servlet>
		<description></description>
		<servlet-name>LC</servlet-name>
		<servlet-class>com.tcs.ilp.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LC</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	
	 
	<servlet>
		<description></description>
		<servlet-name>SCC</servlet-name>
		<servlet-class>com.tcs.ilp.controller.SearchCustomerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SCC</servlet-name>
		<url-pattern>/SearchCustomerController</url-pattern>
	</servlet-mapping>
	
	
	 <servlet>
		<description></description>
		<servlet-name>UCC</servlet-name>
		<servlet-class>com.tcs.ilp.controller.UpdateCustomerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UCC</servlet-name>
		<url-pattern>/UpdateCustomerController</url-pattern>
	</servlet-mapping>
	 
  
</web-app>